include LICENSE
include NEWS 
include README.rst
include MANIFEST.in
include setup.cfg
include setup.py

recursive-include doc *
recursive-include examples *
prune doc/_build

global-include *.rst
global-exclude *.DS_Store*